<!-- Display "Nothing found" if the "items" array is empty -->
<p ng-if="items.length === 0">Nothing found</p>

<!-- Template for the custom foundItems directive -->
<!-- Iterate through the items array and display each item -->
<ul>
  <li ng-repeat="item in foundItemsCtrl.items">
    {{ item.name }}, {{ item.short_name }}, {{ item.description }} <!-- Display name, short_name, and description of each item -->
    <!-- Add a "Don't want this one!" button to remove the item -->
    <button ng-click="foundItemsCtrl.onRemove({index: $index})">Don't want this one!</button>
  </li>
</ul>
